$clr-accent: hsl(40, 78%, 56%);
$clr-dark: hsl(0, 0%, 18%);
$clr-light: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 76%);

$ff-primary: Arial, sans-serif;

$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
